/* THE GREAT RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* --RESET ENDS HERE-- */

/* Variable Declaration */
:root {
	--accent-color: #FCC8DF;
	--soft-color: #D0C8CF;
	--font-color: #FEFEFE;
	--bg-color: #F66864;
	--line-color: #c73732;
	--project-color: #6E8DC4;
	--text-color:#5F6368;

}

/* Font */
body {
	font-family: "Inter", system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Color */
.sidebar,
.lower-header__right > button {
	background-color: var(--bg-color);
}
.lower-header__right > button,
.sidebar * {
	color: var(--font-color);
}


/* HEADER */
.container {
    height: 100dvh; /* fits container into the viewpower */
    overflow: hidden; /* clip the children into the track size */

    display: grid;
    grid-template: 1.1fr 3.9fr / 0.8fr 3.5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

.header, 
.sidebar, 
.main-content {
  /* allow the children of container to be respecting the grid track size */
	min-width: 0;
	min-height: 0;
}


.header {
    grid-area: header;
    display: grid;
    grid-template: 0.9fr 1.1fr / 1.6fr 0.9fr;
	grid-template-areas: 
		"upleft upright"
		"lowleft lowright";
	
	/* bring the header to the surface for the shadow */
	position: relative;
	z-index: 1; 
	
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.upper-header__left {
  	grid-area: upleft;
    display: flex;
	align-items: center;
    gap: 15px;
}
.search-bar {
	background-color: var(--soft-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: clamp(320px, -84.2112px + 52.6316vw, 800px);
	height: 40px;
	border-radius: 20px;
}
.search-bar:focus{
	outline: red;
}
input[type="search"] {
	width: 750px;
	border: none;	
	background-color: transparent;
	caret-color: var(--bg-color);
	caret-shape: block;
}
input[type="search"]:focus{
	outline: none;
	/* make a js for outline highlight for .search-bar when this input:focus */
}
.search-button {
	flex-shrink: 0;
}
.search-button:hover,
.notification-button:hover,
.upper-header__right > .profile-button:hover {
	transform: translateY(-2px);
}
.search-button:active,
.notification-button:active,
.upper-header__right > .profile-button:active {
	transform: scale(0.98);
}

.upper-header__left,
.lower-header__left {
	padding-left: clamp(20px, 3.1152px + 2.193vw ,40px);
}

.lower-header__left {
	grid-area: lowleft;
	display: grid;
	grid-template: 0.8fr 1.2fr / 0.3fr 2fr;
	grid-template-areas: 
		"profile hello"
		"profile profileId";
	gap: 0 10px;
}
.lower-header__left > .header-profile {
    min-width: 80px;
}
.lower-header__left > .header-profile {
  	grid-area: profile;
	align-self: center;
}
.lower-header__left > .hello{
  	grid-area: hello;
	align-self: end;
	font-size: 0.9rem;
	font-weight: 700;
}
.lower-header__left > .profile-font {
  	grid-area: profileId;
	align-self: start;
	font-size: 1.5rem;
	font-weight: 900;
}
.upper-header__right,
.lower-header__right {
	padding-left: 35px;
}
.upper-header__right {
	grid-area: upright;
    display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	padding-right: clamp(10px, -70px + 10.4167vw, 105px);
}
.profile-button > .header-profile {
    width: 55px;
}
.upper-header__right > .profile-font {
	font-size: 1.2rem;
	font-weight: 800;
}
.upper-header__right > .profile-button,
.upper-header__right > button {
	flex-shrink: 0;
}
.lower-header__right {
	grid-area: lowright;
	display: flex;
	align-self: center;
	gap: 5px 30px;
	flex-wrap: wrap;
}
.lower-header__right > button {
	border-radius: 20px;
	border: none;
	width: 100px; 
	height: clamp(20px, 12.368px + 1.6447vw, 40px);
	font-weight: 700;
	cursor: pointer;
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.15);
}
.lower-header__right > button:hover {
  background-color: var(--project-color);
  transform: translateY(-2px);
}
.lower-header__right > button:active {
  transform: scale(0.98);
}
.lower-header__right > button:focus {
  outline: 2px solid var(--soft-color);
  outline-offset: 2px;
}

.search-button,
.notification-button,
.favorite-button,
.follow-button,
.fork-button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 7fr 3fr;
	gap: 70px;
	padding-right: 10px;
}
.sidebar a {
	text-decoration: none;
}
.logo-container {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 12px;
	flex-wrap: wrap;
}
.logo-icon {
	width: 60px;
}
.logo-font {
	font-size: 1.6rem;
	font-weight: 1000;
}
.logo-container,
.nav-container,
.menu-container{
	padding-left: 25px;
	position: relative;
}
.nav-container > .navbar,
.menu-container > .navbar {
	position: absolute;
	border-top: 2px solid var(--line-color);
	width: clamp(100px, 11.448px + 11.2233vw , 200px);
	top: -15px;
}
.nav-container > a,
.menu-container > a {
	display: flex;
	align-items: center;
	gap: 20px;
}
.nav-container > a,
.menu-container > a {
	padding: 13px 0;
}
.nav-font,
.menu-font {
	font-size: clamp(0.6rem, -0.0199rem + 1.257vw, 1.3rem);
	font-weight: 800;
}
.nav-container > a:hover,
.menu-container > a:hover {
	border-bottom: 3px solid var(--line-color);
	color: var(--line-color);
	transform: translateY(-2px);
}
.nav-container > a:active,
.menu-container > a:active {
	transform: scale(0.98);
}

/* MAIN CONTENT */
.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
	gap: 25px;

	background-color: var(--soft-color);
	padding: 30px 25px 40px 20px;
}
.section-title {
	font-size: 1.35rem;
	font-weight: 600;
	padding-bottom: 10px;
}
.trending.section-title {
	padding-top: 30px;
}
.main-content{
  	overflow-y: auto; /* min-height:0 plus this = scrollable*/
}
.project-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 30px;
}
.project-card,
.announcement-container,
.trending-container {
	border-radius: 10px;
	background-color: white;
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.project-card{
	border-left: 10px solid var(--project-color);
	border-radius: 10px;
	background-color: white;
	height: 250px;
	display: grid;
	grid-template-rows: 1.5fr 4fr 1.5fr;
	padding: 0 20px 0 15px;
}
.project-title{
	font-size: 1.2rem;
	font-weight: 600;
	align-self: end;
}
.project-text {
	color: var(--text-color);

	/* hide the overflow text into elipses (...) */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	overflow: hidden;
}
.button-container {
	justify-self: end;
}
.favorite-button:hover,
.follow-button:hover,
.fork-button:hover {
	color: var(--project-color);
	transform: translateY(-2px);
}
.favorite-button:active,
.follow-button:active,
.fork-button:active {
	transform: scale(0.98);
}
.announcement-container {
	padding: 25px 20px 20px 20px;
	height: 370px;
	display: grid;
	align-items: center;
}
.announcement-title{
	font-weight: 600;
}
.announcement-text{
	/* hide the overflow text into elipses (...) */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;

	font-size: 0.8rem;
	color: var(--text-color);
}
.announcement-container > .navbar{
	border-bottom: 0.5px solid var(--text-color);
}
.trending-container {
	display: grid;
	height: 370px;
}
.trending-card {
	padding: 15px 0 15px 25px;
	display: grid;
	grid-template: 1fr 1fr / 1fr 3fr;
	grid-template-areas: 
		"profpic id"
		"profpic text";
	gap: 0 10px;
}
.trending-profile {
	min-width: 50px;
	width: 55px;
}
.trending-profile:hover {
	transform: translateY(-2px);
}
.trending-profile:active {
	transform: scale(0.90);
}
.profile-button {
	grid-area: profpic;
	align-self: center;
	justify-self: center;
}
.trending-profileid {
	grid-area: id;
	align-self: end;
	font-weight: 500;
}
.trending-text {
	grid-area: text;
	color: var(--text-color);
}