/* THE GREAT RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* --RESET ENDS HERE-- */

/* Image Sizing */
.profile-button > .header-profile,
.trending-profile {
    width: 55px;
}

.lower-header__left > .header-profile {
    width: 85px;
}


.container {
    height: 100dvh; /* fits container into the viewpower */
    overflow: hidden; /* clip the children into the track size */

    display: grid;
    grid-template: 1fr 4fr / 0.5fr 3.5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}


.header, 
.sidebar, 
.main-content {
  /* allow the children of container to be respecting the grid track size */
  min-width: 0;
  min-height: 0;
}


.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr;
}
.upper-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "left right";
}
.upper-header__left {
    display: flex;
    grid-area: left;
}
.upper-header__right {
    display: flex;
    grid-area: right    ;
}
.lower-header {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "left right";
}

.lower-header__left {
  grid-area: left;
  display: grid;
  grid-template: 1fr 1fr / 0.5fr 2fr;
  grid-template-areas: 
    "profile hello"
    "profile profileId"
  ;
}
.lower-header__left > .header-profile {
  grid-area: profile;
}
.lower-header__left > .hello{
  grid-area: hello;
}
.lower-header__left > .profile-font {
  grid-area: profileId;
}

.lower-header__right {
  grid-area: right;
  display: flex;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
}

.main-content__left {
  overflow-y: auto; /* makes the content scrollable if needed*/
}