/* THE GREAT RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* --RESET ENDS HERE-- */

/* Variable Declaration */
:root {
	--accent-color: #FCC8DF;
	--soft-color: #FFF1E6;
	--font-color: #FEFEFE;
	--bg-color: #F66864;
	--test: #6E8DC4;

}

/* Font */
body {
	font-family: "Inter", system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Color */
.sidebar,
.lower-header__right > button {
	background-color: var(--bg-color);
}
.lower-header__right > button,
.sidebar * {
	color: var(--font-color);
}


/* Image Sizing */
.profile-button > .header-profile,
.trending-profile {
    width: 55px;
}

.lower-header__left > .header-profile {
    width: 80px;
}


.container {
    height: 100dvh; /* fits container into the viewpower */
    overflow: hidden; /* clip the children into the track size */

    display: grid;
    grid-template: 1fr 4fr / 0.8fr 3.5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}


.header, 
.sidebar, 
.main-content {
  /* allow the children of container to be respecting the grid track size */
	min-width: 0;
	min-height: 0;
}


.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 1.6fr 0.9fr;
	grid-template-areas: 
		"upleft upright"
		"lowleft lowright";
}
.upper-header__left {
  	grid-area: upleft;
    display: flex;
	align-items: center;
    gap: 15px;
}
input[type="search"] {
	width: 500px;
	border-radius: 15px;
}

.upper-header__left,
.lower-header__left {
	padding-left: 40px;
}
.upper-header__right,
.lower-header__right {
	padding-left: 35px;
	padding-right: 100px;
}

.upper-header__right {
	grid-area: upright;
    display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
}
.lower-header__right > button {
	border-radius: 15px;
	border: none;
	/* background-color: pink; */
	width: 110px;
	height: 35px;
	font-weight: 700;
}

.lower-header__left {
	grid-area: lowleft;
	display: grid;
	grid-template: 0.8fr 1.2fr / 0.3fr 2fr;
	grid-template-areas: 
		"profile hello"
		"profile profileId";
}
.lower-header__left > .header-profile {
  	grid-area: profile;
	align-self: center;
	/* justify-self: center; */
}
.lower-header__left > .hello{
  	grid-area: hello;
	align-self: end;
	font-size: 0.9rem;
	font-weight: 700;
}
.lower-header__left > .profile-font {
  	grid-area: profileId;
	align-self: start;
	font-size: 1.5rem;
	font-weight: 900;
}

.lower-header__right {
	grid-area: lowright;
	display: flex;
	align-self: center;
	gap: 30px;
	/* justify-content: space-evenly; */
}

.search-button,
.notification-button,
.favorite-button,
.follow-button,
.fork-button {
	/* border: none; */
	background-color: transparent;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
	gap: 70px;
}
.sidebar a {
	text-decoration: none;
}
.logo-container {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 12px;
}
.logo-icon {
	width: 60px;
}
.logo-font {
	font-size: 1.6rem;
	font-weight: 1000;
}
.logo-container,
.nav-container,
.menu-container{
	padding-left: 25px;
}

.nav-container > a,
.menu-container > a {
	display: flex;
	align-items: center;
	gap: 20px;
}
.nav-container > a,
.menu-container > a {
	padding: 13px 0;
}
.nav-font,
.menu-font {
	font-size: 1.3rem;
	font-weight: 800;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
}

.main-content__left {
  	overflow-y: auto; /* makes the content scrollable if needed*/
}